* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    width: 100%;
    height: 190vh;
}


header {
    width: 100%;
    box-shadow: 1px 1px 1px 1px gray;
}

.hautdepage {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background-color: #9cc7f2;
}

.centrage {
    height: 4rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #9cc7f2;
}

.hautdepage button {
    border: 0px;
    background-color: #9cc7f2;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    padding: 10px 20px;
    cursor: pointer;
}

.hautdepage button:hover {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}


/* HAUTPAGE */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

.centrage1 {
    height: 4rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.partiegauche {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px px;
    height: 100%;
}

.partiegauche a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    padding: 5px 15px;
    margin-left: 10px;
    transition: 0.3s;
}

.partiegauche a:hover {
    padding: 5px 18px;
    background-color: #7551eb36;
    transition: 0.3s;
    border-radius: 5px;
    color: #7451eb;

}

.partiegauche .wxc:hover {
    color: #7451eb;
    background: none;
}

.redline{
    width:1px;
    height:3.3%;
    position:absolute;
    background-color: rgb(202, 202, 202);
    margin:0;
    padding:0;
    left:810px;
     
    }


.partiedroite {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 3rem;
}

.partiedroite, img {
    cursor: pointer;
}

.partiedroite i {
    font-size: 25px;
}

.partiedroite .compte {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    border-radius: 50px;
    margin-left: 1rem;
    border: 1px solid gray;
}

.logocompte {
    background-color: #ecf7fd;
    padding: 5px;
    border-radius: 200px;
    margin-right: 0.5rem;
}

.compte {
    cursor: pointer;
}

/* NAVBAR */

.partiehaute {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    background-color: #fffaee;
}

.centrage2 {
    display: flex;
    width: 80%;

}

.centrage2 .h1 {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: center;
    flex-direction: column;
}

.centrage2 .h1 h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

/* PARTIE HAUT DU MAIN */

.deuxchoix {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 250, 238, 1) 60%);
}

.centrage3 {
    display: flex;
    width: 80%;
}

.e1 {
    display: flex;
    flex-direction: column;
}

.e1 h2 {
    padding-bottom: 0.5rem;
}

.e1 p {
    padding-bottom: 0.7rem;
}

.e1, button {
    margin-right: 2rem;
    border: 0px;
    font-size: 20px;
    background: none;
}

.violet {
    background-color: #7451eb;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.transparent {
    color: #7451eb;
    font-weight: bold;
    transition: 0.3s;
    padding: 5px 10px;
    cursor: pointer;
}

.transparent:hover {
    transition: 0.3s;
    background-color: #7551eb41;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.etudiants {
    background: linear-gradient(0deg,rgba(253, 251, 224, 1) 0%, rgba(253, 251, 224, 1) 95%, rgba(245, 205, 55, 1) 95%);
    padding: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
}

.Employeurs {
    background: linear-gradient(0deg,rgba(235, 238, 251, 1) 0%, rgba(235, 238, 251, 1) 95%, rgba(157, 178, 243, 1) 95%);
    padding: 2rem;
    margin-left: 2rem;
    border-radius: 5px;
}

/* PARTIE MILIEUX DU MAIN */

.troispartie {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.centrage4 {
    width: 80%;

}

.titreh3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.titreh3 h3 {
    font-size: 25px;
    padding-bottom: 1rem;
}

.explicationrangé4 {
    display: flex;
}

.explication {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.explication img {
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
}

.explication h4 {
    padding-bottom: 1rem;
    font-size: 20px;
}

/* PARTIE SAVOIR FAIRE */

.titreh4 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fffaee;
}

.centrage6 {
    font-size: 30px;
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.dernièrepartie {
    background-color: #fffaee;
    display: flex;
    justify-content: center;
    width: 100%;
}

.centrage5 {
    display: flex;
    width: 80%;
}

h5 {
    font-size: 20px;
    padding-bottom: 0rem;
}

.dernièrepartie .aze {
    margin-top: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: #7451eb;
    font-size: 20px;
    border: 1px solid #7451eb;
    margin-bottom: 3rem;
    background:none;
    font-weight: bold;
}

.aze {
    cursor: pointer;
}

.dernièrepartie i {
    font-size: 20px;
    display: inline;
    margin-right: 0.5rem;
}

.dernièrepartie p {
    margin-bottom: 1rem;

}

.partie01gauche {
    width: 50%;
    padding-top: 2rem;
}

.partie01droite {
    padding-top: 2rem;
}

.partie01droite {
    width: 50%;
}

.aze:hover {
    transition: 0.3s;
    background-color: #7551eb36;
}

.qsd {
    border: 0px solid;
    font-weight: bold;
    font-size: 20px;
    color: #7451eb;
    transition: 0.3s;
    padding: 5px 10px;
    cursor: pointer;
}

.qsd:hover {
    transition: 0.3s;
    background-color: #7551eb36;
    padding: 5px 10px;
    border-radius: 5px;
}

.redline01 {
    width:1px;
    height:23%;
    position:absolute;
    background-color: rgb(202, 202, 202);
    margin:0;
    padding:0;
    left:920px;
    background: linear-gradient(0deg,rgba(125, 31, 109, 1) 10%, rgba(166, 12, 150, 1) 25%, rgba(17, 6, 143, 1) 46%, rgba(158, 0, 11, 1) 64%, rgba(199, 157, 6, 1) 85%);
     
    }

